@model WebApplication2mvc.Models.Articulo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Articulo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreArticulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreArticulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescArticulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescArticulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioArt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioArt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnidadesExistencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnidadesExistencia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
